
<h2 class="page-header">Add a post</h2>

        <!-- Function called after submitting form -->
<form (submit)="onSubmitNewPost()">

  <!-- Date -->
  <div class="form-group">
    <label>Date</label>
    <input type="date" [(ngModel)]="newPost.date" name="date" class="form-control">
  </div>

  <!-- Post Title -->
  <div class="form-group">
    <label>Title</label>
    <input [(ngModel)]="newPost.title" name="newPost.title" class="form-control">
  </div>

  <!-- Body of the post -->
  <!-- TODO add rich text formatter -->
  <div class="form-group">
    <label>Body</label>
    <textarea [(ngModel)]="newPost.body" name="newPost.body" class="form-control" style="height: 10em;"></textarea>
  </div>

  <!-- Add photos -->
  <div class="form-group">
    <label for="single">Upload one photo at a time</label>
    <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" />
  </div>
  <table class="table">
    <thead>
    <tr>
      <th width="50%">Name</th>
      <th>Size</th>
      <th>Progress</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of uploader.queue">
      <td><strong>{{ item.file.name }}</strong></td>
      <td nowrap>{{ item.file.size/1024/1024 | number:'.2' }} MB</td>
      <td>
        <div class="progress" style="margin-bottom: 0;">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
        </div>
      </td>
      <td class="text-center">
        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
      </td>
      <!--<td nowrap>-->
        <!--<button type="button" class="btn btn-success btn-xs"-->
                <!--(click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">-->
          <!--<span class="glyphicon glyphicon-upload"></span> Upload-->
        <!--</button>-->
        <!--<button type="button" class="btn btn-warning btn-xs"-->
                <!--(click)="item.cancel()" [disabled]="!item.isUploading">-->
          <!--<span class="glyphicon glyphicon-ban-circle"></span> Cancel-->
        <!--</button>-->
        <!--<button type="button" class="btn btn-danger btn-xs"-->
                <!--(click)="item.remove()">-->
          <!--<span class="glyphicon glyphicon-trash"></span> Remove-->
        <!--</button>-->
      <!--</td>-->
    </tr>
    </tbody>
  </table>
  <!-- end of photo input -->

  <!-- Tags -->
  <!-- TODO Implement search -->
  <div class="form-group">
    <label>Tags (comma separated)</label>
    <input [(ngModel)]="newPost.tags" name="newPost.tags" class="form-control">
  </div>
  <!-- Recap Post -->
  <!-- TODO Implement the recap post calendar thing -->
  <div class="form-group">
    <label>Recap Post</label>
    <input type="checkbox" [(ngModel)]="newPost.recap" name="newPost.recap" class="form-control">
  </div>
  <!-- Time Biked Today in Minutes -->
  <div class="form-group">
    <label>Total time biked today in minutes</label>
    <input type="number" [(ngModel)]="newPost.timeBikedToday" name="newPost.timeBikedToday"
           class="form-control">
  </div>
  <!-- Miles biked since the last post (could be miles biked today) -->
  <div class="form-group">
    <label>Miles Since Last Post  (could be miles biked today) </label>
    <input type="number" [(ngModel)]="newPost.milesSinceLastPost" name="newPost.milesSinceLastPost"
           class="form-control">
  </div>
  <!-- Temperature -->
  <div class="form-group">
    <label>Temperature</label>
    <input type="number" [(ngModel)]="newPost.temperature" name="newPost.temperature" class="form-control">
  </div>
  <!-- Weather Condition -->
  <!-- Add more options -->
  <div class="form-group">
    <select [(ngModel)]="newPost.weatherCondition" name="newPost.weatherCondition">
      <option *ngFor="let condition of weatherConditions" [ngValue]="condition">{{condition}}</option>
    </select>
  </div>
  <!-- Author (defaults to name of the current user) -->
  <div class="form-group">
    <label>Author (defaults to name of the current user)</label>
    <input type="text" [(ngModel)]="newPost.author" name="newPost.author" class="form-control">
  </div>
  <!-- submit button -->
  <div *ngFor="let error of errorMessages">
    <p class="alert-danger">{{error}}</p>
  </div>
  <input type="submit" [disabled]="errorMessages.length > 0" class="btn btn-primary post-submit-btn" value="Submit">
</form>

