<div style="" class="blog-post" *ngIf="selectedPost">
  <div class="post-block">
    <div>
      <h3>{{selectedPost.title}} - {{formattedDate}}</h3>
      <img class="blog-post-image" src="{{s3url}}{{selectedPost.photos[0]}}" />
    </div>
    <p>Miles Since last Post: {{selectedPost.milesSinceLastPost}}</p>
    <p>Time spent biking: {{timeBiked}}</p>
    <p>Body: {{selectedPost.body}}</p>
    <p>Tags: {{selectedPost.tags}}</p>
    <p>Temp: {{selectedPost.temperature}}</p>
    <p>Weather Condition: {{selectedPost.weatherCondition}} (I was thinking we could have an image to go with each choice)</p>
    <small>Author: {{selectedPost.author}}</small>
  </div>
</div>
