<div style="" class="blog-post" *ngIf="selectedPost && selectedPost.layout === 'horizontal'">
  <div class="post-block">
    <div class="row" id="post-header-section-hori">
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
        <h3>{{selectedPost.title}}</h3>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 weather-section">
        <small>Posted by: {{selectedPost.author}} on {{formattedDate}}</small> -
        <img id="post-weather-image" src="{{formattedWeatherPhotoName}}"/>
        <small>{{selectedPost.temperature}}&#8457;</small>
      </div>
    </div>
    <div><img class="blog-post-image-hori" src="{{s3url}}{{selectedPost.photos[0]}}"/>{{selectedPost.body}}
    </div>
    <br>
    <div class="row">
      <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12">
        <p>Miles Since last Post: <strong>{{selectedPost.milesSinceLastPost}}</strong>.  Time spent biking: <strong>{{timeBiked}}</strong></p>
      </div>
      <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12">
        <p>Tags: {{selectedPost.tags}}</p>
      </div>
    </div>
  </div>
</div>
<div style="" class="blog-post" *ngIf="selectedPost && selectedPost.layout === 'vertical'">
  <div class="post-block">
    <div class="row" id="post-header-section-vert">
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
        <h3>{{selectedPost.title}}</h3>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 weather-section">
        <small>Posted by: {{selectedPost.author}} on {{formattedDate}}</small> -
        <img id="post-weather-image" src="{{formattedWeatherPhotoName}}"/>
        <small>{{selectedPost.temperature}}&#8457;</small>
      </div>
    </div>
    <div><img class="blog-post-image-vert" src="{{s3url}}{{selectedPost.photos[0]}}"/>{{selectedPost.body}}
    </div>
    <br>
    <div class="row">
      <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12">
        <p>Miles Since last Post: <strong>{{selectedPost.milesSinceLastPost}}</strong>.  Time spent biking: <strong>{{timeBiked}}</strong></p>
      </div>
      <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12">
        <p>Tags: {{selectedPost.tags}}</p>
      </div>
    </div>
  </div>
</div>
