.post-block {

}

h3 {
  font-size: 2em;
  margin-bottom: 0;
}

.weather-section {
  line-height: 2em;
}

#post-header-section-vert {
  margin-bottom: 15px;
}

div.white-space-pre-line {
  white-space: pre-line;
}

#post-header-section-hori {
  margin-bottom: 15px;
}

.blog-post-image-vert {
  margin-bottom: 10px;
  margin-right: 10px;
  width: 50%;
  float: left
}

.blog-post-image-hori {
  margin-bottom: 10px;
  width: 100%;
}

#post-weather-image {
  width: 10%;
}
