<div class="container" style="text-align: center; margin-bottom: 10em;">
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <h1>About Us</h1>
      <p>We built this site to keep the world updated on our West Coast Bike Tour! We have quit our jobs and devoted
        our life to the journey south with nothing but our bikes, camping gear and an open mind. We are using a route
        from the Adventure Cycling Association and will do our best to avoid highways. The journey is just over a
        thousand miles! We will be camping most of the time and occasionally using Warmshowers.org and maybe AirBnB. We
        plan on doing a bike two days, take one day off type schedule for about a month. We will be taking lots of photos
        and hopefully have some interesting stories to tell and thats what this blog is for. We will try to update it
        everyday, but lets be honest that may not happen. Stay Tuned!
      </p>
      <br>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="about-photo-container">
            <img src="../../../assets/sigrid.png" class="about-photo"/>
          </div>
          <h2>Sigrid Stensvold</h2>
          <h4><strong>Cyclist, Writer, Designer, Front-End Developer</strong></h4>
          <p>Originally from Ladysmith, WI the City of Pride, Progress and Promise, she began as a diver
            but slowly realized her destiny is to explore the world by bicycle.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="about-photo-container">
            <img src="../../../assets/kevin.png" class="about-photo"/>
          </div>
          <h2>Kevin Gresmer</h2>
          <h4><strong>Full Stack Developer, Cyclist, Designer (sort of), Writer </strong></h4>
          <p>A group effort from Wisconsin, Illinois and Dubai was needed to raise this cyclist. </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <img id="route-map" src="../../../assets/map.jpg" />
    </div>
  </div>
</div>
<app-footer></app-footer>

