<div class="container" style="text-align: center; margin-bottom: 10em;">
  <h1>About Us</h1>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="about-photo-container">
        <img src="../../../assets/sigrid.png" class="about-photo"/>
      </div>
      <h2>Sigrid Stensvold</h2>
      <h4><strong>Front-End Developer, Designer, Writer, Cyclist</strong></h4>
      <p>Originally from Ladysmith, WI the City of Pride, Progress and Promise, she began as a diver
        but slowly realized her destiny is to explore the world by bicycle.</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="about-photo-container">
        <img src="../../../assets/kevin.png" class="about-photo"/>
      </div>
      <h2>Kevin Gresmer</h2>
      <h4><strong>Full Stack Developer, Designer (sort of), Writer, Cyclist</strong></h4>
      <p>Often described as a man who is indescribable. </p>
    </div>
  </div>
  <div class="row">


  </div>
</div>
<app-footer></app-footer>

