<div class="container">
  <h1>About Page </h1>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <h2>Sigrid Stensvold</h2>
      <h4>Designer, Writer, Cyclist</h4>
      <p>Originally from Ladysmith, WI the City of Pride, Progress and Promise, she began as a diver
        but slowly realized her destiny is to explore the world by bicycle.</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <h2>Kevin Gresmer</h2>
      <h4>Developer, Designer (sort of), Writer, Cyclist</h4>
      <p>Often described as a man who is indescribable. </p>
    </div>
  </div>
</div>
