.selected {
  background-color: #CFD8DC !important;
}

#search-button {
  margin-top: 1em;
  background-color: #00495C;
  border: none;
}

.remove-padding {
  padding: 0;
}

.totals-number {
  font-size: 2em;
}

.totals-image {
  margin-bottom: 1em;
  width: 45%;
}

.totals-section {
  margin-top: 1em;
}

#totals-display {
  text-align: center;
  position: relative;
  right: -0%;
}

@media (min-width: 428px) {
  #totals-display  {
    position: relative;
  }
}

@media (min-width: 780px) {
  #totals-display  {
    position: fixed;
    right: -0%;
  }
}

@media (min-width: 992px) {
  #totals-display  {
    position: fixed;
    right: -0%;
  }
}

@media (min-width: 1200px) {
  #totals-display  {
    position: fixed;
    right: -0%;
  }
}
