<div class="container" style="display: inline-block;">
  <ul class="pagination" *ngIf="pageNumbers.length > 1">
    <li *ngFor="let page of pageNumbers"><a href="#" (click)="changePage(page)">{{page}}</a></li>
  </ul>
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 remove-padding">
      <div *ngFor="let post of activePage" class="display-post-thumbnail">
        <a [routerLink]="['/post', post._id]" title="Click to read more" data-toggle="tooltip" data-placement="top">
          <div class="post-block">
            <div class="row">
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 weather-section">
                <h3>{{post.title}}</h3><span [innerHtml]="post.body.split('. ')[0]"></span>.
                <p>Miles Since last Post: <strong>{{post.milesSinceLastPost}}</strong><br>
                  <small>Posted by: {{post.author}} on {{formattedDate}}</small>
                  - <img id="post-weather-image" src="{{formattedWeatherPhotoName}}"/>
                  <small>{{post.temperature}}&#8457;</small>
                </p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 weather-section">
                <img class="blog-post-image-thumbnail" src="{{s3url}}{{post.photos[0]}}"/>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-xs-offset-3 col-xs-6 col-sm-3 col-md-3 col-lg-3"
         id="totals-display" *ngIf="totals">
      <div style="background-color: #ffffff; padding: 1.5rem;">
        <div class="total-miles-section">
          <img src="../../../assets/bike.png" class="totals-image"> <br>
          Total Miles Biked: <br>
          <span class="totals-number">{{totals.totalMilesBiked}}</span> <br>
        </div>
        <div class="total-time-section">
          <img src="../../../assets/clock.png" class="totals-image"> <br>
          Total Time Biked: <br>
          <span class="totals-number">{{totalTimeBiked.days}}</span> days<br>
          <span class="totals-number">{{totalTimeBiked.hours}}</span> hrs<br>
          <span class="totals-number">{{totalTimeBiked.minutes}}</span> mins<br>
        </div>
        <hr>
        <div id="search-section">
          <label>Search by Tag</label>
          <br>
          <div id="tag-container">
            <a *ngFor="let tag of filterTags" href="#" (click)="searchForTag(tag)" class="tag-link">
              {{tag}}
            </a>
          </div>
          <br>
          <button id="search-button" *ngIf="filteredPosts.length > 0" (click)="clearSearchResults()"
                  class="btn btn-info">
            Clear Search Results
          </button>
        </div>
      </div>
    </div>
  </div>
  <ul class="pagination" *ngIf="pageNumbers.length > 1">
    <li *ngFor="let page of pageNumbers"><a href="#" (click)="changePage(page)">{{page}}</a></li>
  </ul>
</div>

