<div style="display: inline-block;">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 remove-padding">
      <div *ngFor="let post of posts" >
        <div style="background-color: #ffffff;">
        <app-post [selectedPost]="post"></app-post>
        <hr>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"
         *ngIf="totals" style="text-align: center; position: fixed; right: -0%;">
      <div style="background-color: #ffffff; padding: 1.5rem;">
        <div class="totals-section">
          <img src="../../../assets/bike.png"> <br>
          Total Miles Biked: <br>
          {{totals.totalMilesBiked}} <br>
        </div>
        <div class="totals-section">
          <img src="../../../assets/clock.png"> <br>
          Total Time Biked: <br>
          {{totalTimeBiked}}
        </div>
      </div>
    </div>
  </div>
</div>
