.selected {
  background-color: #CFD8DC !important;
}

.display-post-thumbnail {
  height: 5%;
}

.weather-section {
  line-height: 2em;
}

.post-block {
  padding-bottom: 1em;
  border-bottom: solid 1px #00495C;
  margin-bottom: 1em;
}

#post-weather-image {
  width: 10%;
}

.blog-post-image-thumbnail {
  padding-top: 5%;
  width: 100%;
}

#tag-container {
  display: inline-block;
  padding: 5px;
}

.tag-link {
  padding: 3px;
}

#search-button {
  margin-top: 5px;
  background-color: #00495C;
  border: none;
}

.remove-padding {
  padding: 0;
}

.totals-number {
  font-size: 1.2em;
  margin-bottom: 5em;
}

.totals-image {
  margin-bottom: 5px;
  width: 40%;
}

.totals-image-bottom-row {
  margin-bottom: 5px;
  width: 80%;
}

.total-miles-section {
  padding-bottom: 1em;
}

.total-ascent-section {
  padding-bottom: 1em;
}



#totals-display {
  text-align: center;
  position: relative;
  right: -0%;
  height:100%;
}

@media (min-width: 428px) {
  #totals-display  {
    position: relative;
  }
}

@media (min-width: 780px) {
  #totals-display  {
    position: fixed;
    right: -0%;
  }
}

@media (min-width: 992px) {
  #totals-display  {
    position: fixed;
    right: -0%;
  }
}

@media (min-width: 1200px) {
  #totals-display  {
    position: fixed;
    right: -0%;
  }
}
