<div class="container" style="display: inline-block;">
  <ul class="pagination" *ngIf="pageNumbers.length > 1">
    <li *ngFor="let page of pageNumbers"><a href="#" (click)="changePage(page)">{{page}}</a></li>
  </ul>
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 remove-padding">
      <div *ngFor="let post of activePage" >
        <div>
        <app-post [selectedPost]="post"></app-post>
        <hr>
        </div>
      </div>
    </div>
    <div class="col-xs-offset-3 col-xs-6 col-sm-3 col-md-3 col-lg-3"
         id="totals-display" *ngIf="totals">
      <div style="background-color: #ffffff; padding: 1.5rem;">
        <div class="totals-section">
          <img src="../../../assets/bike.png" class="totals-image"> <br>
          Total Miles Biked: <br>
          <span class="totals-number">{{totals.totalMilesBiked}}</span> <br>
        </div>
        <div class="totals-section">
          <img src="../../../assets/clock.png" class="totals-image"> <br>
          Total Time Biked: <br>
          <span class="totals-number">{{totalTimeBiked.days}}</span> days<br>
          <span class="totals-number">{{totalTimeBiked.hours}}</span> hrs<br>
          <span class="totals-number">{{totalTimeBiked.minutes}}</span> mins<br>
        </div>
        <hr>
        <div id="search-section">
          <label>Search by Tag</label>
          <br>
          <div id="tag-container">
            <a *ngFor="let tag of filterTags" href="#" (click)="searchForTag(tag)" class="tag-link">
              {{tag}}
            </a>
          </div>
          <br>
          <button id="search-button" *ngIf="filteredPosts.length > 0" (click)="clearSearchResults()"
                  class="btn btn-info">
            Clear Search Results
          </button>
        </div>
      </div>
    </div>
  </div>
  <ul class="pagination" *ngIf="pageNumbers.length > 1">
    <li *ngFor="let page of pageNumbers"><a href="#" (click)="changePage(page)">{{page}}</a></li>
  </ul>
</div>

