<div class="container">
  <div id="calendar-container">
    <div class="row" style="text-align: center">
      <h3>August</h3>
    </div>
    <div class="row">
      <button class="cal-column" style="visibility: hidden"></button>
      <button class="cal-column" style="visibility: hidden"></button>
      <button class="cal-column" style="visibility: hidden"></button>
      <button class="cal-column" style="visibility: hidden"></button>
      <button class="cal-column" (click)="showPostsOnDate('2017-8-24')">
        24
      </button>
      <button class="cal-column" (click)="showPostsOnDate('2017-8-25')">
        25
      </button>
      <button class="cal-column" (click)="showPostsOnDate('2017-8-26')">
        26
      </button>
    </div>
    <div class="row">
      <button class="cal-column" (click)="showPostsOnDate('2017-8-27')">
        27
      </button>
      <button class="cal-column" (click)="showPostsOnDate('2017-8-28')">
        28
      </button>
      <button class="cal-column" (click)="showPostsOnDate('2017-8-29')">
        29
      </button>
      <button class="cal-column" (click)="showPostsOnDate('2017-8-30')">
        30
      </button>
      <button class="cal-column" (click)="showPostsOnDate('2017-8-31')">
        31
      </button>
      <button class="cal-column" style="visibility: hidden"></button>
      <button class="cal-column" style="visibility: hidden"></button>
    </div>
    <div class="row" style="text-align: center;">
      <h3>September</h3>
    </div>
    <div class="row">
      <button class="cal-column" style="visibility: hidden"></button>
      <button class="cal-column" style="visibility: hidden"></button>
      <button class="cal-column" style="visibility: hidden"></button>
      <button class="cal-column" style="visibility: hidden"></button>
      <button class="cal-column" style="visibility: hidden"></button>
      <button class="cal-column" (click)="showPostsOnDate('2017-9-1')">
        1
      </button>
      <button class="cal-column" (click)="showPostsOnDate('2017-9-2')">
        2
      </button>
    </div>
    <div class="row">
      <button class="cal-column" (click)="showPostsOnDate('2017-9-3')">
        3
      </button>
      <button class="cal-column" (click)="showPostsOnDate('2017-9-4')">
        4
      </button>
      <button class="cal-column" (click)="showPostsOnDate('2017-9-5')">
        5
      </button>
      <button class="cal-column" (click)="showPostsOnDate('2017-9-6')">
        6
      </button>
      <button class="cal-column" (click)="showPostsOnDate('2017-9-7')">
        7
      </button>
      <button class="cal-column" (click)="showPostsOnDate('2017-9-8')">
        8
      </button>
      <button class="cal-column" (click)="showPostsOnDate('2017-9-9')">
        9
      </button>
    </div>
    <div class="row">
      <button class="cal-column" (click)="showPostsOnDate('2017-9-10')">
        10
      </button>
      <button class="cal-column" (click)="showPostsOnDate('2017-9-11')">
        11
      </button>
      <button class="cal-column" (click)="showPostsOnDate('2017-9-12')">
        12
      </button>
      <button class="cal-column" (click)="showPostsOnDate('2017-9-13')">
        13
      </button>
      <button class="cal-column" (click)="showPostsOnDate('2017-9-14')">
        14
      </button>
      <button class="cal-column" (click)="showPostsOnDate('2017-9-15')">
        15
      </button>
      <button class="cal-column" (click)="showPostsOnDate('2017-9-16')">
        16
      </button>
    </div>
    <div class="row">
      <button class="cal-column" (click)="showPostsOnDate('2017-9-17')">
        17
      </button>
      <button class="cal-column" (click)="showPostsOnDate('2017-9-18')">
        18
      </button>
      <button class="cal-column" (click)="showPostsOnDate('2017-9-19')">
        19
      </button>
      <button class="cal-column" (click)="showPostsOnDate('2017-9-20')">
        20
      </button>
      <button class="cal-column" (click)="showPostsOnDate('2017-9-21')">
        21
      </button>
      <button class="cal-column" (click)="showPostsOnDate('2017-9-22')">
        22
      </button>
      <button class="cal-column" (click)="showPostsOnDate('2017-9-23')">
        23
      </button>
    </div>
    <div class="row">
      <button class="cal-column" (click)="showPostsOnDate('2017-9-24')">
        24
      </button>
      <button class="cal-column" (click)="showPostsOnDate('2017-9-25')">
        25
      </button>
      <button class="cal-column" (click)="showPostsOnDate('2017-9-26')">
        26
      </button>
      <button class="cal-column" (click)="showPostsOnDate('2017-9-27')">
        27
      </button>
      <button class="cal-column" (click)="showPostsOnDate('2017-9-28')">
        28
      </button>
      <button class="cal-column" (click)="showPostsOnDate('2017-9-29')">
        29
      </button>
      <button class="cal-column" (click)="showPostsOnDate('2017-9-30')">
        30
      </button>
    </div>
  </div>
</div>
<div id="post-display">
  <div class="row" *ngIf="posts.length > 0">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 remove-padding">
      <div *ngFor="let post of posts">
        <div>
          <app-post [selectedPost]="post"></app-post>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>

